################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/HelloWorldCoreMVC
/bin/Debug/net6.0
/obj
